.add-service h2{
    text-align: center;
    padding: 20px 0;
}
.add-service form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-service form input, textarea{
    width: 40%;
    margin-bottom: 10px;
}